DATABASE_URL=postgresql://user:password@host:5432/database
DODO_PAYMENTS_API_KEY=
DODO_WEBHOOK_SECRET=
DODO_PAYMENTS_ENVIRONMENT=test_mode
DODO_PAYMENTS_PRODUCT_ID_5=
DODO_PAYMENTS_PRODUCT_ID_9=
NEXT_PUBLIC_APP_URL=http://localhost:3000
CRON_SECRET=
R2_ENDPOINT=
R2_BUCKET=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
